.center {
    width: 50%;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 36pt;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red
}

ul {
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

